<%- include('partials/header', { title: 'Gallery' }) %>

<h1>Image Gallery</h1>
<div class="row">
  <% files.forEach(file => { %>
    <div class="col-md-3 mb-4">
      <img src="/uploads/<%= file %>" class="img-fluid rounded border">
    </div>
  <% }) %>
</div>
<a href="/" class="btn btn-secondary">Back</a>

<%- include('partials/footer') %>
